<div class="navbar bg-base-300">
  <div class="flex-1">
    <%= link_to "Sandbox", root_path, class: "btn btn-ghost text-xl"%>
    <%= link_to "About", about_path, class: "btn btn-ghost" %>
    <%= link_to "Posts", posts_path, class: "btn btn-ghost" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <% if current_user %>
          <details>
            <summary class=""><%= current_user.email %></summary>
            <ul class="bg-base-200 rounded-t-none p-2 w-full">
              <li><%= link_to "Edit Account", edit_user_registration_path %></li>
              <li class="text-center"><%= button_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </details>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </li>
    </ul>
  </div>
</div>